@{
    ViewBag.Title = "MustSignIn";
    Layout = "~/Views/Shared/MustSignIn.cshtml";
}

<h2>❌ You Must Login</h2>

<br />
<button style="margin-right:6px;" class="btn btn-outline-primary" onclick="location.href='@Url.Action("ViewAllGroups", "Group")';return false;">All Groups &raquo;</button>
<button style="margin-right:6px;" class="btn btn-outline-primary" onclick="location.href='@Url.Action("ViewMyGroups", "Group")';return false;">My Groups &raquo;</button>
<button style="margin-right:6px;" class="btn btn-outline-primary" onclick="location.href='@Url.Action("CreateGroup", "Group")';return false;">Create Group &raquo;</button>