@model A4A.Models.UsersModel

@{
    ViewBag.Title = "No Recurision";
    int ID = Convert.ToInt16(Session["ID"]);

    if (ID == 0)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/User_LayoutPage1.cshtml";
    }
}

<p>
    <button class="btn btn-outline-primary" onclick="location.href='@Url.Action("ViewAllUsers", "User")';return false;">View All Users &raquo;</button>
    <button style="margin-right:6px;" class="btn btn-outline-primary" onclick="location.href='@Url.Action("AddFriend", "User")';return false;">Add Friend &raquo;</button>
    <button class="btn btn-outline-primary" onclick="location.href='@Url.Action("Friends", "User")';return false;">View My Friends &raquo;</button>
</p>

<br />
<h2 style="color: #a52a2a">❌ Sorry, we don't make recurision HERE..</h2>