
@{
    ViewBag.Title = "MustSignIn";
    Layout = "~/Views/Shared/MustSignIn.cshtml";
}

<p>
    <br />
    <button class="btn btn-outline-primary" onclick="location.href='@Url.Action("ViewAllUsers", "User")';return false;">View All Users &raquo;</button>
    <button style="margin-right:6px;" class="btn btn-outline-primary" onclick="location.href='@Url.Action("AddFriend", "User")';return false;">Add Friend &raquo;</button>
    <button class="btn btn-outline-primary" onclick="location.href='@Url.Action("Friends", "User")';return false;">View My Friends &raquo;</button>

</p>

<h2>❌ You Must Login</h2>