
@{
    ViewBag.Title = "MustSignIn";
    Layout = "~/Views/Shared/MustSignIn.cshtml";
}

<h2>❌ You must Login</h2>

<p>
    <br />
    <button class="btn btn-outline-primary" onclick="location.href='@Url.Action("ViewAllBlogs", "Blog")';return false;">View All Blogs &raquo;</button>
    <button class="btn btn-outline-primary" onclick="location.href='@Url.Action("InsertBlog", "Blog")';return false;">Add Blog &raquo;</button>
    <button class="btn btn-outline-primary" onclick="location.href='@Url.Action("ViewMyBlogs", "Blog")';return false;">View My Blogs &raquo;</button>
</p>