@{
    ViewBag.Title = "MustSignIn";
    Layout = "~/Views/Shared/MustSignIn.cshtml";
}

<br/>
<h2>❌ Sorry, You Must Login</h2>

@*<p>*@
    @*<br />*@
    @*<button style="margin-right:6px;" class="btn btn-outline-primary" onclick="location.href='@Url.Action("ViewAllTeams", "Team", new { id, UserName })';return false;">View All Teams &raquo;</button>
    <button style="margin-right:6px;" class="btn btn-outline-primary" onclick="location.href='@Url.Action("ViewMyTeams", "Team", new { id, UserName })';return false;">View My Teams &raquo;</button>
    <button style="margin-right:6px;" class="btn btn-outline-primary" onclick="location.href='@Url.Action("CreateTeam", "Team", new { id, UserName })';return false;">Create Team &raquo;</button>*@
@*</p>*@
